body {
  font:13px/1.5 Arial, sans-serif;
  color:#444;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  color:#264868;
  margin:0 0 10px;
  font-weight:500;
}

p, ul, ol, table, pre, dl {
  margin:0 0 6px;
}

h1 {
  font-size:26px;
  font-weight:normal;
}

h2 {
  font-size:18px;
  font-weight:normal;
}


h3 {
  font-size:13px;
  font-weight:bolder;
}

h4 {
  font-size:12px;
  font-weight:bolder;
  margin-bottom:2px;
}

details, summary {
  display:block;
}

img {
  border:none;
}

fieldset {
  border:none;
  padding:none;
  margin:none;
  -webkit-margin-start:0;
  -webkit-margin-end:0;
  -webkit-padding-before:0;
  -webkit-padding-start:0;
  -webkit-padding-end:0;
  -webkit-padding-after:0;
}

ul {
  list-style:none;
  margin:0 0 10px 0;
  padding:0 0 0 10px;
}

sup {
  position: relative;
  vertical-align: top;
  font-size: 50%;  
  top:2px;
}

a {
  color:#35649C;
  text-decoration:none;
}

a:hover {
  color:#6CF;
  text-decoration:underline;
}

#wrapper {
  width:960px;
  min-width:960px;
  margin:0 auto;
}

header {
  width:960px;
  height:71px; 
  padding-top:8px; 
  float:left;
  position:relative;
  
  background: #777;
  background: -moz-linear-gradient(left, #333 0%, #aaa 90%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333), color-stop(90%,#aaa));
  background: -webkit-linear-gradient(left, #333 0%,#aaa 90%);
  background: -o-linear-gradient(left, #333 0%,#aaa 90%);
  background: -ms-linear-gradient(left, #333 0%,#aaa 90%);
  background: linear-gradient(left, #333 0%,#aaa 90%);
}

#pacbiologo {
  float:left;
  margin:10px 16px 0 20px;
}

header ul {
  float:left;
  list-style:none;
  padding:10px;
  width:500px;
}

header li {
  margin:22px 10px 0 0;
  float:left;
  position:relative;
  height:40px;
}

header li a {
  font-size:11px;
  color:#fff;
  text-align:center;
  padding:6px 15px;
  text-transform:uppercase;
}

header li a:hover {
  text-decoration: none;
  color:#fff;

  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  border-radius:2px;

  background: rgb(95,105,165);
  background: -moz-linear-gradient(top, rgb(127,143,201) 0%, rgb(95,105,165) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(127,143,201)), color-stop(100%, rgb(95,105,165)));
  background: -webkit-linear-gradient(top, rgb(127,143,201) 0%, rgb(95,105,165) 100%);
  background: -o-linear-gradient(top, rgb(127,143,201) 0%,rgb(95,105,165) 100%);
  background: -ms-linear-gradient(top, rgb(127,143,201) 0%, rgb(95,105,165) 100%);
  background: linear-gradient(top, rgb(127,143,201) 0%, rgb(95,105,165) 100%);
}

#sitesearch {
  display:inline-block; 
  float:right;
  padding-right:15px;
}

#sitesearch input {
  font-size:11px;
}

#smrtcommunity {
  position:absolute;
  left:0px;
  top:79px;
}

#contents {
  clear:both;
  float:left;
  width:898px;
  min-height:340px;
  padding-left:60px;
  padding-bottom:20px;

  border-left:1px solid #888;
  border-right:1px solid #888;
  border-bottom:1px solid #888;

  background: #fff;
  background: -moz-linear-gradient(left, #ccc 0%, #fff 20%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ccc), color-stop(20%,#fff));
  background: -webkit-linear-gradient(left, #ccc 0%,#fff 20%);
  background: -o-linear-gradient(left, #ccc 0%,#fff 20%);
  background: -ms-linear-gradient(left, #ccc 0%,#fff 20%);
  background: linear-gradient(left, #ccc 0%,#fff 20%);
}

section {
  width:380px;
  float:left;
  margin:20px 0 0 40px;
}

.section-head {
}

.section-body {
  border:1px solid #aaa;
  border-radius:6px;
  padding:10px;
}

#pb-devnet {
  clear:both;
  width:520px;
  margin:0;
  padding:20px 0 0px 320px;
  background-image:url(../images/devnet_home.png);
  background-repeat:no-repeat;
  background-position:0px 30px;
}

#pb-news {
  padding:10px;
  margin-top:20px;
  font-size:11px;
  background:#eee;
  border-radius:6px;
}

#pb-news h2 {
  color:#a44;
  font-size:13px;
  font-weight:bold;
  margin-bottom:0;
}

#pb-news a {
  color:#a44;
  font-weight:bold;
}

#pb-releases {
  clear:both;
}

#pb-releases a[href$='.tgz'], #pb-releases a[href$='.zip'], #pb-releases a[href$='.gz'], #pb-releases a[href$='.bz'] { 
  padding-left:20px;
  background:url(../images/zip.gif) no-repeat;
}

#pb-releases a[href$='.doc'], #pb-releases a[href$='.docx'] { 
  padding-left:20px;
  background:url(../images/doc.gif) no-repeat; 
}

#pb-releases a[href$='.xls'], #pb-releases a[href$='.xlsx'] { 
  padding-left:20px;
  background:url(../images/xls.gif) no-repeat; 
}

#pb-releases a[href$='.ppt'], #pb-releases a[href$='.pptx'] { 
  padding-left:20px;
  background:url(../images/ppt.gif) no-repeat; 
}

#pb-releases a[href$='.pdf'] {
  padding-left:20px;
  background:url(../images/pdf.png) no-repeat; 
}

#pb-releases a[href$='.txt'] {
  padding-left:20px;
  background:url(../images/txt.gif) no-repeat; 
}

#pb-releases a[href$='.html'] {
  padding-left:20px;
  background:url(../images/html.jpg) no-repeat; 
}

#pb-releases a[href$='.mov'], #pb-releases a[href$='.mp4'] {
  padding-left:20px;
  background:url(../images/video.png) no-repeat; 
}

#pb-search-results, #pb-dialog {
  display:none;
}

.pb-signup {
  padding:0 10px;
}

.pb-regform a {
  float:left;
  font-size:11px;
}

.pb-regform input[type='submit'], .pb-confirm input, .pb-error input {
  float:right;
}

.pb-regform ul {
  padding:10px;
  margin-bottom:10px;
  background:#eee;
  border-radius:6px;
}

.pb-regform label {
  display:inline-block;
  width:80px;
  text-align:right;
}

.pb-regform label:after {
  content:'*';
}

.pb-regform input[type="text"], .pb-regform input[type="email"] {
  width:150px;
}

.pb-waiting, .pb-confirm, .pb-error {
  display:none;
}

#hyLiteDlg {
  border-radius:6px;
}

summary {
  width:120px;
  margin-bottom:6px;
  padding-left:4px;
  color:#fff;
  font-size:11px;

  border-radius:4px;
  
  background: #555;
  background: -moz-linear-gradient(left, #333 0%, #888 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#333), color-stop(100%,#888));
  background: -webkit-linear-gradient(left, #333 0%,#888 100%);
  background: -o-linear-gradient(left, #333 0%,#888 100%);
  background: -ms-linear-gradient(left, #333 0%,#888 100%);
  background: linear-gradient(left, #333 0%,#888 100%);
}

details details {
  margin-left:10px;
}

footer {
  margin:0;
  width:960px;
  float:left;
  clear:both;
  bottom:0px;
  font-size:11px;
  background:#fff;
}

#footer-links {
  float:left;
}

footer p {
  float:right;
  text-transform:uppercase;
}

@media print, screen and (max-width: 960px) {
}

@media print, screen and (max-width: 720px) {
}

@media print, screen and (max-width: 480px) {
}

@media print {
}
